#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.square {
  /* width: 30px;
  height: 30px;
  margin: 1px; */
  background-color: lightblue;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
